services:
  redis:
    image: redis:alpine
    container_name: redis-alpine
    privileged: true
    command: [ "sh", "-c", "sysctl vm.overcommit_memory=1 && redis-server" ]
    ports:
      - "6379:6379"
    restart: unless-stopped
    volumes:
      - "./redis_data:/data"
    network_mode: bridge
